* {
    box-sizing: border-box;
}

body,
main {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1E3E50;
}

.data {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99%;
    padding-bottom: 40px;
    box-sizing: border-box;
    height: 100%;
    margin-top: 10px;
    padding: 20px;
}

.title {
    font-size: 50px;
    margin: 10px;
}

.stadium {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
}

.pokemon1,
.pokemon2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stadium .pokemon1,.pokemon2 p{
    font-size: 20px;
}

.Winner {
    text-align: center;
    gap: 10px;
    white-space: pre;
}

button{
    border: 0px;
    font-size: 20px;
    padding: 10px;
}